html, body{ width: 100%;
            height: 100%;
            margin: 0;
            position: absolute;
            overflow: hidden;
            font-family: Arial; Helvetica;sans-serif;font-size:15px;
          }

#borderContainer{  width: 100%; height: 100%;}



.bordered { border-style: solid; border-width: 1px;}
.shadowed{
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc;
        
}

#header
{
	height: 50px;
	background-color: white;
	margin-bottom: 0px;

}

#header h1 { display: inline; font-size: 70px; color:#616160;}
#header a { float: right; margin-left: 20px;}
#header
{
	height: 50px;
	width: 90%;
	background-color: white;
	margin-bottom: 40px;
	margin-left: 50px;
	margin-right: 50px;
	
}


#content
{
	
	margin-left:50px;
	width: 90%;
	//margin-right: 40px;
	background-color: white;
	margin-top: 40px;
	margin-right:50px;
}




#editBox div { margin-top: 20px;  p}
#editBox label { float: left; width: 100px;
                   font-size: 20px; 
}

#operations { margin-left: 50px; margin-right: 50px; width: 90%; margin-bottom: 10px;}
.error{  color:red; font-size: 15px; font-weight: bold;}

#userTable {
        
   font-size: 20px;
  
}



#userTable th, td { padding-right: 20px;}


