/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 width: 1270px;
}
#header {
 color: #333;
 width: 1248px;
 float: left;
 padding: 10px;
 //border: 1px solid #ccc;
 //height: 80px;
 margin: 0px 0px 0px 0px;
// margin-left: -9px;
 margin-bottom: 20px;
 background: #FFFFF;
}
#navigation {
 float: left;
 width: 1248px;
 color: #333;
 padding: 10px;
 //border: 1px solid #ccc;
 margin: 0px 0px 0px 0px;
 margin-bottom: 20px;
 background: #A8B4C1;
}
#leftcolumn { 
 color: #333;
 border: 1px solid #ccc;
  border-bottom-width: 10px;
  border-bottom-color: #A8B4C1;
 background: #FFFFF;
 margin: 0px 0px 0px 0px;
 padding: 10px;
 //height: 325px;
 width: 200px;
 float: left;
}
#rightcolumn { 
 float: right;
 color: #333;
 border: 1px solid #ccc;

 background: #FFFFF;
 margin: 0px 0px 0px 0px;
 padding: 10px;
// height: 350px;
 width: 1020px;
 display: inline;
 scroll: auto;
}
#footer { 
 width: 1248px;
 clear: both;
 color: #333;
 //border: 1px solid #ccc;
 background: #FFFFFF;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}

.shadowed{
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 2px 2px 5px #ccc;
        
}

#arduinoList{
    list-style: none; margin-left: 10px; margin-top: 15px;
		 line-height: 30px; font-size: 20px; width: 160px;
		
		 
        
}

#arduinoList li > img {
    width:20px;height:20px;float:left;margin-top: 8px;
		 margin-right: 5px; margin-left: 2px;   
}
li { word-wrap: break-word; margin-bottom: 15px; }
h3 { font-size: 25px;}

#arduinoMessageArea {
   margin-top:240px; width: 200px; height: 33px;background-color: #A8B4C1     
        
}

.ui-widget-header img { float:right; margin-right:5px;}
#leftcolumn h3{
        text-align: center;padding-top: 5px;margin-top:0px;width:200px;height:35px;
}

.error { color: red;}

.greyblue { color: #A8B4C1;}

.title { font-size: 20px; color: black;  height: 30px;}

.componentContainer { border:4px; border-radius: 4px;padding: 10px; width: 600px; height: 280px;margin-bottom: 10px;}
.graph { width: 600px; height: 200px; }
//.titlebar{ height: 20px; color: #A8B4C1; margin-bottom: 20px;padding-bottom:20px}
.close{ width: 20px; height: 20px; margin-bottom: 5px;background: url( ../img/close-icon.png);display:inline;float: right;}
.close:hover { background: url( ../img/close-icon-hover.png)}
.refreshpanel { float:left;display:none; background-color: black; margin-left: -10px;margin-top: -160px;padding: 10px;opacity:0.8; border: 4px solid black; 
width: 30px;border-radius: 4px;text-align: left}
.refreshpanel label { margin-bottom: 10px; font-size: 20px; color: white;}

.inputs { margin-left: 40px; display:inline; font-size: 20px;
          color: #A8B4C1; font-weight: bold; margin-top: -50px }

.pinPanel { display:none; background-color: black; margin-left: 60px;margin-top: -208px;padding: 10px;opacity:0.8; border: 4px solid black; 
width: 30px;border-radius: 4px;text-align: left}
.pinPanel label { margin-bottom: 10px; font-size: 20px; color: white;
}

          
