body { margin: 0;
       padding: 0;
       font-family: sans-serif;
}
html { margin: 0;
       padding: 0;
       font-family: sans-serif;
}
#header {
  
  background-color: #3B5998;
  height: 5.5em;
  border-bottom: 2px solid #DCDCDC;
  
} 

#header h1{
    margin-top: 0;
    color: white;
    margin-left: 4em;
    border-left: 2px;
    border-left-color: #DCDCDC;
    border-left-style: solid;
    padding-left: 10px;
    margin-bottom: 2px;
    padding-bottom: 0px;
    font-size: 3em;
    
}


#controls {
            
            width: 400px;
	    height: 400px;
	   
	    margin-top: 20px;
	    z-index: 10;
     
}

.shadowed {
      box-shadow: 5px 5px 5px #887; 
  
}


#header h2 {
    margin-top: -7px;
    padding-top: 0;
    margin-left: 6.3em;
    font-size: 1.9em;
    border-left: 2px;
    border-left-color: #DCDCDC;
    border-left-style: solid;
    padding-left: 10px;
    color: #DADFC2;
    font-style: italic;
}

#lockContainer {
  
       position: absolute;  
       top: 40px;
       box-shadow: 1px 1px 5px lightgray;
}